body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #30040456;
  background-image: url(./assets/quizbackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quiz-container {
  width: auto;
  height: auto;

  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #22ccd2;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* position: relative; */
}
.home-page {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #cf0a0a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  transform: scale(1.2);
  transition: all 0.5;
}

#timer {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

#quiz {
  margin-bottom: 20px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.options:hover {
  cursor: pointer;
  transition: all 0.3s;
}

#result {
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
}

#text-answer {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}
@media (max-width: 600px) {
  .quiz-container {
    width: 90%;
    padding: 15px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  #timer {
    font-size: 16px;
  }

  .options label {
    font-size: 14px;
  }

  #text-answer {
    font-size: 14px;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 400px) {
  button {
    padding: 6px 12px;
    font-size: 12px;
  }

  #timer {
    font-size: 14px;
  }

  .options label {
    font-size: 12px;
  }

  #text-answer {
    font-size: 12px;
  }

  img {
    width: 60px;
    height: 60px;
  }
}
