body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #30040456;
  background-image: url();
}

.quiz-container {
  width: 600px;
  height: auto;

  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #d64040;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* position: relative; */
}
.home-page {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #0acf0a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#timer {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  /* position: fixed; */
  /* left: 80%; */
}

#quiz {
  margin-bottom: 20px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options:hover {
  cursor: pointer;
  transition: all 0.3s;
}

#result {
  margin-top: 20px;
}
